<body>
  <div class="container" id="container">
    <h1> Welcome to IParking ! </h1>
    <h2>Are you?</h2>
    <table>
      <tr>
        <td colspan="2">
          <a  [routerLink]="['/loginadmin']">
            <img src="assets/images/administrator1.png" style="height: 110px; width: 110px;margin-left: 50px; margin-top: 20px;">
            <br>
            <span style="margin-left: 50px;">Administrator</span>
        </a>
        </td>

        <td>
        <a  [routerLink]="['/loginuser']">
          <img src="assets/images/user1.png" style="height: 110px; width: 110px; margin-left: 150px; margin-top: 20px;">
          <br>
            <span style="margin-left: 190px;">User</span>
      </a>
        </td>
      </tr>

    </table>
  </div>
</body>
<footer>
	<p>
		Designed By
		<a target="_blank" href="https://treetronix.com/">Treetronix</a>
	</p>
</footer>
